:root
{
    color-scheme: dark light;

    /* COLORS */
    
    /* DARK MODE*/
    --darkmode-blue:        #458588;
    --darkmode-blue-alt:    #83a598;
    --darkmode-purple:      #b16286;
    --darkmode-purple-alt:  #d3869b;
    --darkmode-gray:        #928374;

    /* Background Shades */
    --darkmode-bg0_h:   #1d2021;
    --darkmode-bg0:     #282828;
    --darkmode-bg0_s:   #32302f;
    --darkmode-bg1:     #3c3836;
    --darkmode-bg2:     #504945;
    --darkmode-bg3:     #665c54;
    --darkmode-bg4:     #7c6f64;

    /* Foreground Shades */
    --darkmode-fg:  #ebdbb2;
    --darkmode-fg1: #ebdbb2;
    --darkmode-fg2: #d5c4a1;
    --darkmode-fg3: #bdae93;
    --darkmode-fg4: #a89984;

    /* LIGHT MODE */
    --lightmode-blue:       #458588;
    --lightmode-blue-alt:   #076678;
    --lightmode-purple:     #b16286;
    --lightmode-purple-alt: #8f3f71;
    --lightmode-gray:       #928374;
  
    /* Background Shades */
    --lightmode-bg0_h:  #f9f5d7;
    --lightmode-bg0:    #fbf1c7;
    --lightmode-bg0_s:  #f2e5bc;
    --lightmode-bg1:    #ebdbb2;
    --lightmode-bg2:    #d5c4a1;
    --lightmode-bg3:    #bdae93;
    --lightmode-bg4:    #a89984;
  
    /* Foreground Shades */
    --lightmode-fg:     #3c3836;
    --lightmode-fg1:    #3c3836;
    --lightmode-fg2:    #504945;
    --lightmode-fg3:    #665c54;
    --lightmode-fg4:    #7c6f64;
}

html, body
{
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;

    font-size: 18px;

    background-color: light-dark(var(--lightmode-bg0_s), var(--darkmode-bg0_h));
    color: light-dark(var(--lightmode-fg), var(--darkmode-fg));
}

body
{
    display: flex;
}

h1, p, a
{
    margin: 0;
}

a
{
    display: inline-block;
    color: light-dark(var(--lightmode-blue-alt), var(--darkmode-blue));
}

a:hover
{
    color: light-dark(var(--lightmode-blue), var(--darkmode-blue-alt));
}

a:active
{
    color: light-dark(var(--lightmode-bg), var(--darkmode-bg));
    background-color: light-dark(var(--lightmode-blue), var(--darkmode-blue-alt));
}

a:visited
{
    color: light-dark(var(--lightmode-purple-alt), var(--darkmode-purple));
}

a:visited:hover
{
    color: light-dark(var(--lightmode-purple), var(--darkmode-purple-alt));
}

a:visited:active
{
    color: light-dark(var(--lightmode-bg), var(--darkmode-bg));
    background-color: light-dark(var(--lightmode-purple), var(--darkmode-purple-alt));
}

.main
{
    text-align: center;
    margin: auto;

    padding-top: 4.5em;

    height: 11.5em;
    width: 30em;

    background-color: light-dark(var(--lightmode-bg0_h), var(--darkmode-bg0));
    border: 1px solid light-dark(var(--darkmode-bg0_h), var(--darkmode-bg2));
    box-shadow: 4px 4px light-dark(var(--darkmode-gray), var(--darkmode-bg0_h));
}


.contact:link
{
    text-decoration: none;
    color: light-dark(var(--lightmode-fg), var(--darkmode-fg));
}

.contact:hover
{
    text-decoration: underline;
    color: light-dark(var(--lightmode-fg), var(--darkmode-fg));
}

.contact:active
{
    color: light-dark(var(--lightmode-fg), var(--darkmode-fg));
    background-color: transparent;
}

.contact:visited
{
    color: light-dark(var(--lightmode-fg), var(--darkmode-fg));
}

.furtherReading 
{
    padding-top: 1.8em;
    font-family: Arial, Helvetica, sans-serif;
}

.furtherReading > *
{
    margin: 0 1em 0 1em;
}

.furtherReading br
{
    margin: 0;
    line-height: 2em;
}

.furtherReading:last-child
{
    margin: 0;
}

@media screen and (max-width: 680px)
{
    .main
    {
        width: 100%;
        height: auto;

        margin: auto 0.5em auto 0.5em;

        padding-top: 2.5em;
        padding-bottom: 2em;
    }

    .furtherReading
    {
        padding-top: 1em;
    }
}
