:root
{
    color-scheme: dark light;

    --darkmode-bg-color: #282828;
    --darkmode-text-color: #d5c4a1;
    --darkmode-heading-color: #ebdbb2;

    --lightmode-bg-color: #fbf1c7;
    --lightmode-text-color: #3c3836;
}

body
{   
    background-color: var(--darkmode-bg-color);
    color: var(--darkmode-heading-color);
    margin: 0;

    font-size: 1.1em;
}

h1, h2, h3, .furtherReading
{
    color: var(--darkmode-heading-color);
}

p
{
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

q
{
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

a
{
    display: inline-block;
    color: var(--darkmode-text-color);
    font-family: Arial, Helvetica, sans-serif;
}

a:hover
{
    color: var(--lightmode-bg-color);
}

.content
{
    margin: 5% 5% 0 5%;
    display: flex;
    justify-content: center;
}

.main
{
    width: 75ch;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.articleHeading
{
    margin: 1em 0 0.2em 0;
}

.articleInfo
{
    margin: 0.2em 0 0.2em 0;
    font-size: smaller;
}

.article
{
    display: flex;
    flex-direction: column;
}

.articleName
{
    margin: 0.2em 0 0.2em 0;
}

.furtherReading 
{
    padding: 3em 0 7em 0;
    text-align: center;
    
    display: inline-block;
    position: relative;

    /* Move the element to the right by 50% of the container's width */
    left: 50%; 
    /* Calculates 50% of the element's width, and moves it by that */ 
    /* amount across the X-axis to the left */
    transform: translateX(-50%);
}

.furtherReading hr
{
    width: 95%;
    height: 0px;
    margin: auto;
    padding-bottom: 0.3em;
    border: 0;
    border-top: 1px solid var(--darkmode-text-color);
    border-bottom: 0px;
}

hr
{
    color: 1px solid var(--darkmode-text-color);
}

.furtherReading nav > *
{
    margin: 0 1em 0 1em;
}

.furtherReading br
{
    margin: 0;
    line-height: 2em;
}

.furtherReading:last-child
{
    margin: 0;
}

@media screen and (max-width: 605px)
{   
    .content
    {
        margin: 2% 2% 0 2%;
    }

    .main
    {
        width: auto;
    }

    .furtherReading > *
    {
        margin: 0 0.9em 0 0.9em;
    }
}

@media (prefers-color-scheme: light)
{
    body
    {
        background-color: var(--lightmode-bg-color);
        color: var(--lightmode-text-color);
    }

    h1, h2, h3, .furtherReading, .furtherReading hr
    {
        color: var(--lightmode-text-color);
    }

    hr
    {
        color: 1px solid var(--lightmode-text-color);
    }

    a
    {
        color: var(--lightmode-text-color);
    }

    a:hover
    {
        background-color: var(--lightmode-text-color);
        text-decoration: none;
        color: var(--lightmode-bg-color);
    }

}
