:root
{
    color-scheme: dark light;

    /* COLORS */
    
    /* DARK MODE*/
    --darkmode-red:         #cc241d;
    --darkmode-red-alt:     #fb4934;
    --darkmode-green:       #98971a;
    --darkmode-green-alt:   #b8bb26;
    --darkmode-yellow:      #d79921;
    --darkmode-yellow-alt:  #fabd2f;
    --darkmode-blue:        #458588;
    --darkmode-blue-alt:    #83a598;
    --darkmode-purple:      #b16286;
    --darkmode-purple-alt:  #d3869b;
    --darkmode-aqua:        #689d6a;
    --darkmode-aqua-alt:    #8ec07c;
    --darkmode-orange:      #d65d0e;
    --darkmode-orange-alt:  #fe8019;
    --darkmode-gray:        #928374;

    /* Background Shades */
    --darkmode-bg0_h:   #1d2021;
    --darkmode-bg0:     #282828;
    --darkmode-bg0_s:   #32302f;
    --darkmode-bg1:     #3c3836;
    --darkmode-bg2:     #504945;
    --darkmode-bg3:     #665c54;
    --darkmode-bg4:     #7c6f64;

    /* Foreground Shades */
    --darkmode-fg:  #ebdbb2;
    --darkmode-fg1: #ebdbb2;
    --darkmode-fg2: #d5c4a1;
    --darkmode-fg3: #bdae93;
    --darkmode-fg4: #a89984;

    /* LIGHT MODE */
    --lightmode-red:        #cc241d;
    --lightmode-red-alt:    #9d0006;
    --lightmode-green:      #98971a;
    --lightmode-green-alt:  #79740e;
    --lightmode-yellow:     #d79921;
    --lightmode-yellow-alt: #b57614;
    --lightmode-blue:       #458588;
    --lightmode-blue-alt:   #076678;
    --lightmode-purple:     #b16286;
    --lightmode-purple-alt: #8f3f71;
    --lightmode-aqua:       #689d6a;
    --lightmode-aqua-alt:   #427b58;
    --lightmode-orange:     #d65d0e;
    --lightmode-orange-alt: #af3a03;
    --lightmode-gray:       #928374;
  
    /* Background Shades */
    --lightmode-bg0_h:  #f9f5d7;
    --lightmode-bg0:    #fbf1c7;
    --lightmode-bg0_s:  #f2e5bc;
    --lightmode-bg1:    #ebdbb2;
    --lightmode-bg2:    #d5c4a1;
    --lightmode-bg3:    #bdae93;
    --lightmode-bg4:    #a89984;
  
    /* Foreground Shades */
    --lightmode-fg:     #3c3836;
    --lightmode-fg1:    #3c3836;
    --lightmode-fg2:    #504945;
    --lightmode-fg3:    #665c54;
    --lightmode-fg4:    #7c6f64;
}

body
{   
    background-color: light-dark(var(--lightmode-bg0), var(--darkmode-bg0));
    color: light-dark(var(--lightmode-fg), var(--darkmode-fg));
    margin: 0;

    line-height: 1.5;

    font-family: Arial, Helvetica, sans-serif;
}

q
{
    font-style: italic;
}

a
{
    display: inline-block;
    color: light-dark(var(--lightmode-blue-alt), var(--darkmode-blue));
}

a:hover
{
    color: light-dark(var(--lightmode-blue), var(--darkmode-blue-alt));
}

a:active
{
    color: light-dark(var(--lightmode-bg), var(--darkmode-bg));
    background-color: light-dark(var(--lightmode-blue), var(--darkmode-blue-alt));
}

a:visited
{
    color: light-dark(var(--lightmode-purple-alt), var(--darkmode-purple));
}

a:visited:hover
{
    color: light-dark(var(--lightmode-purple), var(--darkmode-purple-alt));
}

a:visited:active
{
    color: light-dark(var(--lightmode-bg), var(--darkmode-bg));
    background-color: light-dark(var(--lightmode-purple), var(--darkmode-purple-alt));
}

hr
{
    border: 0px;
    border-top: 1px solid light-dark( var(--lightmode-bg1), var(--darkmode-fg4));
}

table
{
    border: 0;
    border: 1px solid light-dark( var(--lightmode-bg3),var(--darkmode-bg2));
    border-spacing: 0px;
    border-radius: 10px;

    width: 100%;
    margin: auto;
    
    background-color: 
        light-dark(var(--lightmode-bg0_s) ,var(--darkmode-bg0_s));
    background-clip: border-box;
}

table caption
{
    padding-top: 1em;
    caption-side: bottom;
}

tr
{
    border: 0px;
}

th
{
    text-align: left;
    padding: 0.2em 0.7em 0.2em 0.7em;

    border: 1px solid light-dark( var(--lightmode-bg3),var(--darkmode-bg2));
    border-top: 0;
    border-left: 1px;
}

th:nth-child(1)
{
    border-left: 0;
}

th:last-child
{
    border-right: 0;
}

td
{
    padding: 0.2em 0.7em 0.2em 0.7em;

    border: 1px solid light-dark(var(--lightmode-bg3), var(--darkmode-bg2));
    border-top: 0;
    border-left: 0;

    background-color: light-dark(var(--lightmode-bg0), var(--darkmode-bg0));
}

td:last-child
{
    border-right: 0;
}

tr:last-child td
{
    border-bottom: 0;
}

.content
{
    margin: 5% 5% 0 5%;
    display: flex;
    justify-content: center;
}

.main
{
    width: 75ch;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.articleHeading
{
    margin: 1em 0 0.2em 0;
}

.articleInfo
{
    margin: 0.2em 0 0.2em 0;
    font-size: smaller;
}

.article
{
    display: flex;
    flex-direction: column;
}

.articleName
{
    margin: 0.2em 0 0.2em 0;
}

.furtherReading 
{
    padding: 3em 0 7em 0;
    text-align: center;
    
    display: inline-block;
    position: relative;

    /* Move the element to the right by 50% of the container's width */
    left: 50%; 
    /* Calculates 50% of the element's width, and moves it by that */ 
    /* amount across the X-axis to the left */
    transform: translateX(-50%);
}

.furtherReading hr
{
    width: 95%;
    height: 0px;
    margin: auto;
    padding-bottom: 0.3em;
}

.furtherReading nav > *
{
    margin: 0 1em 0 1em;
}

.furtherReading br
{
    margin: 0;
    line-height: 2em;
}

.furtherReading:last-child
{
    margin: 0;
}

@media screen and (max-width: 605px)
{   
    .content
    {
        margin: 2% 2% 0 2%;
    }

    .main
    {
        width: auto;
    }

    .furtherReading > *
    {
        margin: 0 0.9em 0 0.9em;
    }
}
