{{ define "main" }}
    <h1>{{- .Title -}}</h1>

    {{ .Content }}

    <hr>

    <section>
        {{ range $link, $data := GetChildPages "hobbies" true -}}
            <h2><a href="{{ $link }}"> {{- $data.Title -}} </a></h2>
            <p> {{ $data.Description }} </p>
            {{ if $data.Quote }}
                <p> <em><strong>{{ $data.Quote }}</strong></em> <br> &mdash; {{ $data.QuoteAuthor }} </p>
            {{ end }}
        {{ end }}
    </section>
{{ end }}
