{{ define "main" }}


    <nav>
    {{ range $link, $data := GetChildPages "hobbies" true -}}
        <a href="{{ $link }}"> {{ $data.Title }} </a>
    {{ end }}
    </nav>

    
    <h1>{{ .Title }}</h1>

    <p>Status: {{ .Status }}</p>

    <p>Roles:
        <ul>
            {{ range .Roles }}
                <li>{{ . }}</li>
            {{ end }}
        </ul>
    </p>

    {{ .Content }}

{{ end }}