{{ define "main" }}
    <h1>{{ .Title }}</h1>
    
    {{ .Content }}

    <ul class="articlesList">
        {{ $sorted := SortPages (GetChildPages "blog" false) "Date" true }}
        {{ range  $p := $sorted }}
            <li> <span> {{ $p.Date}} </span> <a href="{{ $p.Link }}"> {{ $p.Title }} </a></li>
        {{ end }}
    </ul>
{{ end }}