{{ define "main" }}
    <h1>{{- .Title -}}</h1>
    <time datetime="{{ .Date }}"> {{ .Date }} </time>


    {{- if .Description}}
        <p>{{ .Description }} </p>
    {{- end }}

    {{ .Content }}
{{ end }}