{{ define "footer" }}

    <hr>

    <p>Generated with 🍝 sugo</p>

    <img src="/images/buttons/cookie-free.png" alt="This website is cookie free"/>
    <img src="/images/buttons/cs-player.gif" alt="This website's owner is a Counter-Strike player"/>
    <img src="/images/buttons/javascript-zero.gif" alt="This website has zero JavaScript"/>
{{ end }}