{{ define "header" }}
    <h1 style="text-align: center">Luka's website</h1>
    <nav>
        <a href="/">Home</a>
        {{ range $link, $data := GetChildPages "" true -}}
            <a href="{{ $link }}">{{- $data.Title -}}</a>
        {{ end }}
    </nav>
{{ end }}