{{ define "main" }}
    <h1>{{- .Title -}}</h1>

    {{ .Content }}

    <ul>
        {{ range $link, $data := GetChildPages "software" false -}}
            <li> <a href="{{ $data.Url }}"> {{ $data.Title }} </a> - {{ $data.Description }}</li>
        {{ end }}
    </ul>
{{ end }}
