{{ define "main" }}
    <div class="homeCard">
        <h2>{{ .Name }}</h2>
        {{ if .Profession }}
            <p>{{ .Profession }}</p>
            {{ if .Workplace }}
                <p>@ {{ .Workplace }}</p>
            {{ end }}
        {{ end }}
        <a href="mailto:{{ .Email }}"> {{ .Email }} </a>
    </div>
{{ end }}